.loading{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: grid;
    place-items: center;
    max-width: 100%

}

.loading>div{
    width: 10vmax ;
     background-color: white;
     height: 10vmax;
     border-bottom: 5px solid rgb(203, 128, 23);
     border-radius: 50%;

     animation: loadingRotating 800ms linear infinite ;
}


@keyframes loadingRotating {
    to{
        transform: rotateZ(-360deg);
    }
}